body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.mega-container {
    margin: 40px 60px 0px 60px;

}

.header {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: normal;
    border-radius: 20px;

}

.title {
    width: 100%;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.title-para {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.title-button {
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: 600;
}

.title-header {
    font-size: 90px;
}

.banner {
    padding: 20px 60px 0px 0px;
    margin-bottom: 0;
}

.banner img {
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.title-button {
    text-decoration: none;
}

.title-button:hover {
    color: tomato;
    background: whitesmoke;
}


.fa-arrow-right {
    color: white;
    padding-left: 5px;
    font-weight: 500;
}

.main {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.menu {
    height: 240px;
    width: 256px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    padding-bottom: 20px;
}

.common {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 80%;
    height: 15%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px 0px;
}

.common:hover {
    background-color: tomato;
    color: white;
}

.watch-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.card {
    width: 265px;
    height: 280px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 140;
    margin-bottom: 15px;
}

.transfer {
    border: 1px solid lightgrey;
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.card h4 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.icon {
    margin-left: 10px;
}

.card span {
    margin-left: 8px;
}

.hidden-btn {
    justify-content: center;
}

.viewall {
    text-align: center;
    align-items: center;
    color: white;
    background-color: tomato;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 25px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 30px;
}

.goal {
    padding-top: 75px;
    text-align: center;
}

.goal hr {
    margin-top: 30px;
    width: 80%;
    font-size: 1px;
    font-weight: 100;
    margin-bottom: 30px;
}

.info {
    text-decoration: none;
    color: white;
    margin-inline: 15px;
    font-size: 12px;
}

.social {
    margin-top: 40px;
    text-align: center;
}

.social-media {
    color: goldenrod;
    margin-inline: 15px;
    font-size: 30px;
}

.match-section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.match-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px 20px 0px 20px;
    justify-content: center;
}

.match-card-header {
    display: flex;
    gap: 10px;
}

.timetable {
    margin-top: 0;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1300px) {
    .viewall {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1150px) {

    .title-header {
        font-size: 75px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: inline-block;
        background-color: white;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
        justify-content: space-around
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
    }

    .viewall {
        visibility: visible;
    }
}

@media only screen and (max-width: 950px) {

    .title-header {
        font-size: 60px;
    }

    .title-para {
        font-size: 12px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: inline-block;
        background-color: white;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
        justify-content: space-around
    }

    .watch-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .match-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .card {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
    }

    .viewall {
        text-align: center;
        align-items: center;
        color: white;
        background-color: tomato;
        text-decoration: none;
        padding: 20px 30px;
        border-radius: 10px;
        font-size: 25px;
    }

}

@media only screen and (max-width: 800px) {

    .title-header {
        font-size: 50px;
    }

    .title-para {
        font-size: 12px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
        display: block;
    }

    .watch-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .match-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
    }

    .viewall {
        text-align: center;
        align-items: center;
        color: white;
        background-color: tomato;
        text-decoration: none;
        padding: 20px 30px;
        border-radius: 10px;
        font-size: 25px;
    }

}

@media only screen and (max-width: 700px) {

    .title-header {
        font-size: 50px;
    }

    .title-para {
        font-size: 12px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
        display: block;
    }

    .watch-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .match-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
    }

    .viewall {
        text-align: center;
        align-items: center;
        color: white;
        background-color: tomato;
        text-decoration: none;
        padding: 20px 30px;
        border-radius: 10px;
        font-size: 25px;
    }

}

@media only screen and (max-width: 675px) {

    .header {
        text-align: center;
        background-color: black;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        line-height: normal;
        border-radius: 20px;
    }

    .title {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    .title-header {
        font-size: 50px;
    }

    .title-para {
        font-size: 12px;
    }

    .title-button {
        padding: 10px 15px;
        background-color: tomato;
        border-radius: 5px;
        border-style: none;
        color: white;
        font-weight: 600;
    }

    .banner {
        padding-left: 45px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .watch-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .match-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
        display: block;
    }


}

@media only screen and (max-width: 600px) {

    .header {
        text-align: center;
        background-color: black;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        line-height: normal;
        border-radius: 20px;
    }

    .title {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    .title-header {
        font-size: 50px;
    }

    .title-para {
        font-size: 12px;
    }

    .title-button {
        padding: 10px 15px;
        background-color: tomato;
        border-radius: 5px;
        border-style: none;
        color: white;
        font-weight: 600;
    }

    .banner {
        padding-left: 45px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .watch-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    .match-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    .common {
        margin-left: 0;
        font-size: 30px;
        padding: 20px 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-inline: 10px;
        display: block;
    }


}